.whisper_model
/whisper_model
./whisper_model
*.pyc
__pycache__/
.env
*.env
*.pkl
*.json
*.log
*.csv
*.tsv
/venv
venv/
./venv
/.vscode
/.vscode
.vscode
+.vscode
*.egg-info
./whisper_model_saved
./whisper_saved_model
*/.model.safetensors
*.safetensors
*/model.safetensors

#python projects fastapi and  models


